<!-- dashboard.handlebars -->
<button id="openModalBtn">Créer un groupe</button>
<!-- dashboard.handlebars -->
<table>
    <thead>
        <tr>
            <th>Sélectionner par groupes</th>
        </tr>
    </thead>
    <tbody>
        <tr id="viewAllRow">
            <td>View All</td>
        </tr>
        {{#each groups}}
        <tr class="groupRow" data-group-name="{{this.name}}">
            <td>{{this.name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<br>

 <!-- dashboard.handlebars -->
<table id="rappelsTable">
    <thead>
        <tr>
            <th>Rappel</th>
            <th>Description</th>
            <th>Date d'échéance</th>
        </tr>
    </thead>
    {{#each groups}}
    <tbody class="rappelGroup" data-group-name="{{this.name}}">
        {{#each this.rappels}}
            <tr data-date="{{this.dateecheance}}">
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>{{this.dateecheance}}</td>
            </tr>
        {{/each}}
    </tbody>
    {{/each}}
</table>


<div id="ModalCreateGroup" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <form action="/creategroup" method="post">
            <label for="groupName">Nom du groupe:</label>
            <input type="text" id="groupName" name="groupName" placeholder="Entrez le nom du groupe" required>
            <button type="submit" id="confirmBtn">Créer</button>
        </form>
    </div>
</div>



<script src="/js/filter.js"></script>
<script src="/js/dashboard.js"></script>
