<!-- dashboard.handlebars -->
<button id="openModalBtn">Créer un groupe</button>
<button id="openModalRappelBtn">Créer un rappel</button>
<button id="openAddUserModalBtn">Ajouter un utilisateur</button>

<table id="groupSelectorTable">
    <thead>
        <tr>
            <th>Sélectionner par groupes</th>
        </tr>
    </thead>
    <tbody>
        <tr id="viewAllRow" class="selected-filter">
            <td>View All</td>
        </tr>
        {{#each groups}}
            <tr class="groupRow" data-group-name="{{this.name}}">
                <td>{{this.name}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<br>
<br>

<table id="rappelsTable">
    <thead>
        <tr>
            <th>Rappel</th>
            <th>Description</th>
            <th>Date d'échéance</th>
        </tr>
    </thead>

    <tbody class="rappelGroup"  data-group-name="{{this.name}}">
                {{#each groups}}
            {{#each this.rappels}}
                <tr data-rappel-id="{{this.id}}" data-date="{{this.dateecheance}}" data-group-name="{{../name}}">
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.dateecheance}}</td>
                <td>
                    <button class="editBtn">Modifier</button>
                    <button class="deleteBtn">Supprimer</button>
                    <button class="saveBtn" style="display: none;">Valider</button>
                    <button class="cancelBtn" style="display: none;">Annuler</button>
                </td>
                </tr>
        {{/each}}
            {{/each}}
    </tbody>
</table>

<div id="ModalCreateGroup" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalBtn">&times;</span>
        <form action="/creategroup" method="post">
            <label for="groupName">Nom du groupe:</label>
            <input type="text" id="groupName" name="groupName" placeholder="Entrez le nom du groupe" required>
            <button type="submit" id="confirmBtn">Créer</button>
        </form>
    </div>
</div>

<div id="ModalCreateRappel" class="modal">
    <div class="modal-content">
        <span class="close" id="closeModalRappelBtn">&times;</span>
        <form action="/create-rappel" method="post">
            <label for="name">Nom du rappel:</label>
            <input type="text" id="name" name="name" placeholder="Entrez le nom du rappel" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" placeholder="Entrez la description du rappel" required></textarea>

            <label for="dateheureecheance">Date et heure d'échéance:</label>
            <input type="datetime-local" id="dateheureecheance" name="dateheureecheance" required>

            <label for="groupe">Groupe:</label>
            <select id="groupe" name="groupe" required>
                {{#each groups}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>

            <button type="submit">Créer le rappel</button>
        </form>
    </div>
</div>


<!-- addUserModal.handlebars -->
<div id="AddUserModal" class="modal">
    <div class="modal-content">
        <span class="close" id="closeAddUserModalBtn">&times;</span>
            <form action="/dashboard/add-user-to-group" method="post">
                <!-- ... autres champs du formulaire ... -->
                <label for="selectGroup">Sélectionner le groupe :</label>
                <select id="selectGroup" name="selectGroup" required>
                    {{#each groups}}
                        <option value="{{this.id}}">{{this.name}}</option>
                    {{/each}}
                </select>

                <label for="userPseudo">Pseudo de l'utilisateur à ajouter :</label>
                <input type="text" id="userPseudo" name="userPseudo" placeholder="Entrez le pseudo de l'utilisateur" required>

                <button type="submit">Ajouter l'utilisateur</button>
            </form>
    </div>
</div>

<script src="/js/filter.js"></script>
<script src="/js/dashboard.js"></script>